{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "react",
    "react-native",
    "jsx-a11y",
    "import",
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
  }
}
